
.be_wrapper {
    
    div {
        border: 3px solid #a7a7a7;
        padding:35px 15px;
        margin:10px;
        border-radius:5px;
        background-color: #f2f2f2;
    }

    .parent {
        margin-left:100px;
        background-color : darken(#f2f2f2, 10% );
    }
    
    .child {
        margin-left:200px;
        background-color : darken(#f2f2f2, 20% );
    }

}
